.list {
    float: left;
    flex: 1;
    width: 20%;
    padding: 1rem;
    top: 0;
    bottom: 0;
    min-height: 100vh;
}

.chart {
    /* height: 100% max-content; */
    padding-top: 1rem;
    padding-left: 26.5rem;
    font-size: 2rem;
    /* background-color: rgb(185, 230, 139); */
}

.dateNav {
    min-height: 100%;
    /* overflow: auto; */
    /* overflow-y: scroll; */
}

.bgc {
    background-color: rgb(213, 211, 211);
}