.title {
    display: block;
    flex-wrap: wrap;
    font-size: 3rem;
    font-weight: bold;
}

.description {
    display: block;
    color: gray;
    padding-bottom: 1rem;
}

.chart {
    justify-content: center;
    align-items: center;
    display: flex;
}

.pie {
    max-width: 80vh;
    max-height: 80vh;
}

.bar {
    width: 100%;
    max-height: 80vh;
}


.spinner {
    padding-top: 40vh;
    padding-bottom: 10rem;
}